@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&family=Roboto:ital,wght@1,300;1,500;1,900&display=swap");

* {
  background-color: #161919;
  margin: 0px;
  padding: 0px;
  color: #eff5f5;
  scroll-behavior: smooth;
}
